.body {
    background-color: #fafafa;
}

.nav-top {
    height: 63px; 
    background-color: white !important; 
    border-top:0.5px solid #dbdbdb; 
    border-bottom:1px solid #dbdbdb;
}

.nav-container {
    padding-left: 25% !important; 
    padding-right: 25% !important;
}

@media screen and (max-width: 1605px) {
    .nav-container {
        padding-left: 20% !important; 
        padding-right: 20% !important;
    }
  }

@media screen and (max-width: 992px) {
    .nav-container {
        padding-left: 5% !important; 
        padding-right: 5% !important;
    }
}

.img-nav {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    max-width:30px; 
    max-height:25px;
}

.img-profile {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    max-width:200px; 
    max-height:150px;
}

.username {
    font-weight: 300; font-size: 28px;
}

.name {
    font-size: 16px; display: inline; font-weight: 600 !important;
}

.profile-datas {
    font-size: 16px;
}

.profile-desc {
    font-size: 16px; 
}

.nav-feed {
    border-bottom: none !important; 
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.nav-link-1 {
    color: #495057;
    background-color: #fafafa !important;
    border-color: gray #fff #fff !important;
    border-top-right-radius: .0rem !important;
    border-top-left-radius: .0rem !important;
    font-size: 12px;
    font-weight: 600;
}

.nav-link-2 {
    color: #a2a8af;
    background-color: #fafafa !important;
    border-color: #fff #fff #fff !important;
    border-top-right-radius: .0rem !important;
    border-top-left-radius: .0rem !important;
    font-size: 12px;
    font-weight: 600;
}


.card {
    border: 0px solid rgba(0,0,0,.125) !important;
    border-radius: .0rem !important;
}

.card .card-img, .card-img-top {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
}

.stories{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.form-control {
    border-radius: .15rem !important;
    padding: 0% !important; 
    background-color: #fafafa !important; 
    text-align: center; 
    font-size: 15px !important;
}

.icons {
    padding: 4%; 
    font-size: 25px;
}

.button-edit {
    color: black !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-color: #dae1e7 !important;
}

.btn {
    padding: .100rem .50rem !important;
}